body {
    background: #f1f1f1;
}
h1 {
    color: #27aedb;
    text-align: center;
}
.bar-line {
    color: crimson;
    font-weight: bold;
}
.food-line {
    color: dodgerblue;
    font-weight: bold;
}
.order-card {
    background: #f8f8f8;
}
.order-type {

}
.order-card:nth-child(2n) {
    background: #fff;
}
.lds-ripple {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid rgb(90, 90, 90);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  